﻿@page
@model BiblioAdmin.Pages.ShippingMethod.IndexModel
@{
}
<h1>ShippingMethod Index</h1>

<a href="/ShippingMethod/InsertingOne" class="tile">
    <span class="icon-plus"></span>
    <span class="screen-reader-text">Inserting One</span>
</a>

<table class="list">
    <thead>
        <tr>
            <th>
                
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Price
            </th>
            <th>
                Id
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ShippingMethodList)
        {
        <tr>
            <td>
                <a href="ShippingMethod/ReadingOne/@item.Id">Select</a> |
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @item.Price
            </td>
            <td>
                @item.Id
            </td>
        </tr>
        }
    </tbody>
</table>