﻿@page
@model BiblioAdmin.Pages.ShippingMethod.InsertingOneModel
@{
}
<h3>InsertingOne ShippingMethod</h3>
<hr />
<br />
<form method="post">
    <fieldset>
        <div>
            <label asp-for="ShippingMethod.Name"></label>
            <input asp-for="ShippingMethod.Name" />
            <span class="alert-danger" asp-validation-for="ShippingMethod.Name"></span>
        </div>
        <div>
            <label asp-for="ShippingMethod.Description"></label>
            <textarea asp-for="ShippingMethod.Description"></textarea>
        </div>
        <div>
            <label asp-for="ShippingMethod.Price"></label>
            <input asp-for="ShippingMethod.Price" />
        </div>
    </fieldset>
    <div>
        <button type="submit" value="Insert" asp-page-handler="Insert">Insert</button>
    </div>
</form>