﻿@page "{id}"
@model BiblioAdmin.Pages.ShippingMethod.ReadingOneModel
@{
}

<h1>ShippingMethod ReadingOne</h1>
<nav class="control-panel">
    <a href="/Index">
        <span>Hier komt het logo</span>
    </a>
    <h1 class="banner">Biblio Admin</h1>
</nav>
<div class="show-room entity">
    <div class="detail">
        <div class="command-panel">
            <h2>Shipping Method</h2>
            <a href="/ShippingMethod/UpdatingOne/@Model.ShippingMethod.Id" class="tile">
                <span class="icon-pencil"></span>
                <span class="screen-reader-text">Updating One</span>
            </a>
            <a href="/ShippingMethod/InsertingOne" class="tile">
                <span class="icon-plus"></span>
                <span class="screen-reader-text">Inserting One</span>
            </a>
            <a asp-page="./ReadingOne" onclick="return confirm('Weet je zeker dat je deze Shipping methode wilt deleten?');"
               asp-page-handler="Delete" asp-route-id="@Model.ShippingMethod.Id">Delete</a>

            <a href="/ShippingMethod/Index" class="tile">
                <span class="icon-close"></span>
                <span class="screen-reader-text">Annuleren</span>
            </a>
        </div>
        <fieldset>
            <div>
                <label for="ShippingMethod-Name">Id</label>
                <input id="ShippingMethod-Name" name="ShippingMethod-Name" type="text" value="@Model.ShippingMethod.Id" readonly>
            </div>
            <div>
                <label for="ShippingMethod-Name">Naam</label>
                <input id="ShippingMethod-Name" name="ShippingMethod-Name" type="text" value="@Model.ShippingMethod.Name" readonly>
            </div>
            <div>
                <label for="ShippingMethod-Name">Beschrijving</label>
                <textarea id="ShippingMethod-Name" name="ShippingMethod-Name" type="text" readonly>@Model.ShippingMethod.Description</textarea>
            </div>
            <div>
                <label for="ShippingMethod-Name">Price</label>
                <input id="ShippingMethod-Name" name="ShippingMethod-Name" type="text" value="@Model.ShippingMethod.Price" readonly>
            </div>
        </fieldset>
        <div class="feedback"></div>
    </div>
    <aside class="list">
        <table class="list">
            <thead>
                <tr>
                    <th>
                    </th>
                    <th>
                        Id
                    </th>
                    <th>
                        Naam
                    </th>
                    <th>
                        Beschrijving
                    </th>
                    <th>
                        Kostprijs
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ShippingMethodList)
                {
                <tr>
                    <td>
                        <a href="@item.Id">-></a> |
                    </td>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @item.Price
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </aside>
</div>