﻿@page
@model BiblioAdmin.Pages.Customer.IndexModel
@{
}
<h1>Customer Index</h1>

<a href="/Customer/InsertingOne" class="tile">
    <span class="icon-plus"></span>
    <span class="screen-reader-text">Inserting One</span>
</a>

<table class="list">
    <thead>
        <tr>
            <th>
                
            </th>
            <th>
                Id
            </th>
            <th>
                Voornaam
            </th>
            <th>
                Achternaam
            </th>
            <th>
                Adres
            </th>
            <th>
                Postalcode
            </th>
            <th>
                City
            </th>
            <th>
                Country
            </th>
            <th>
                Phone
            </th>
            <th>
                Email
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CustomerList)
        {
        <tr>
            <td>
                <a href="Customer/ReadingOne/@item.Id">Select</a> |
            </td>
            <td>
                @item.Id
            </td>
            <td>
                @item.FirstName
            </td>
            <td>
                @item.LastName
            </td>
            <td>
                @item.Address
            </td>
            <td>
                @item.PostalCode
            </td>
            <td>
                @item.City
            </td>
            <td>
                @item.Country
            </td>
            <td>
                @item.Phone
            </td>
            <td>
                @item.Email
            </td>
        </tr>
        }
    </tbody>
</table>