﻿@page
@model BiblioAdmin.Pages.Customer.InsertingOneModel
@{
}
<h3>InsertingOne Customer</h3>
<hr />
<br />
<form method="post">
    <fieldset>
        <div>
            <label asp-for="Customer.Email"></label>
            <input asp-for="Customer.Email" />
            <span class="alert-danger" asp-validation-for="Customer.Email">Emailadres is verplicht!</span>
        </div>
        <div>
            <label asp-for="Customer.FirstName"></label>
            <input asp-for="Customer.FirstName" />
            <span class="alert-danger" asp-validation-for="Customer.FirstName">Voornaam is verplicht!</span>
        </div>
        <div>
            <label asp-for="Customer.LastName"></label>
            <input asp-for="Customer.LastName" />
            <span class="alert-danger" asp-validation-for="Customer.LastName">Achternaam is verplicht!</span>
        </div>
        <div>
            <label asp-for="Customer.Address"></label>
            <input asp-for="Customer.Address" />
            <span class="alert-danger" asp-validation-for="Customer.Address">Adres is verplicht!</span>
        </div>
        <div>
            <label asp-for="Customer.City"></label>
            <input asp-for="Customer.City" />
            <span class="alert-danger" asp-validation-for="Customer.City">Woonplaats is verplicht!</span>
        </div>
        <div>
            <label asp-for="Customer.PostalCode"></label>
            <input asp-for="Customer.PostalCode" />
            <span class="alert-danger" asp-validation-for="Customer.PostalCode">Postcode is verplicht!</span>
        </div>
        <div>
            <label asp-for="Customer.Country"></label>
            <input asp-for="Customer.Country" />
        </div>
        <div>
            <label asp-for="Customer.Phone"></label>
            <input asp-for="Customer.Phone" />
        </div>
    </fieldset>
    <div>
        <button type="submit" value="Insert" asp-page-handler="Insert">Insert</button>
    </div>
</form>