﻿@page "{id}"
@model BiblioAdmin.Pages.Customer.ReadingOneModel
@{
}
<h1>Customer ReadingOne</h1>
<nav class="control-panel">
    <a href="/Index">
        <span>Hier komt het logo</span>
    </a>
    <h1 class="banner">Biblio Admin</h1>
</nav>
<div class="show-room entity">
    <div class="detail">
        <div class="command-panel">
            <h2>Customer</h2>
            <a href="/Customer/UpdatingOne/@Model.Customer.Id" class="tile">
                <span class="icon-pencil"></span>
                <span class="screen-reader-text">Updating One</span>
            </a>
            <a href="/Customer/InsertingOne" class="tile">
                <span class="icon-plus"></span>
                <span class="screen-reader-text">Inserting One</span>
            </a>
            <a asp-page="./ReadingOne" onclick="return confirm('Weet je zeker dat je deze gebruiker wilt deleten?');"
               asp-page-handler="Delete" asp-route-id="@Model.Customer.Id">Delete</a>

            <a href="/Customer/Cancel" class="tile">
                <span class="icon-close"></span>
                <span class="screen-reader-text">Annuleren</span>
            </a>
        </div>
        <fieldset>
            <div>
                <label for="Customer-Name">Id</label>
                <input id="Customer-Name" name="Customer-Name" type="text" value="@Model.Customer.Id" readonly>
            </div>
            <div>
                <label for="Customer-Name">Voornaam</label>
                <input id="Customer-Name" name="Customer-Name" type="text" value="@Model.Customer.FirstName" readonly>
            </div>
            <div>
                <label for="Customer-Name">Achternaam</label>
                <input id="Customer-Name" name="Customer-Name" type="text" value="@Model.Customer.LastName" readonly>
            </div>
            <div>
                <label for="Customer-Name">Email</label>
                <input id="Customer-Name" name="Customer-Name" type="text" value="@Model.Customer.Email" readonly>
            </div>
            <div>
                <label for="Customer-Name">Adres</label>
                <input id="Customer-Name" name="Customer-Name" type="text" value="@Model.Customer.Address" readonly>
            </div>
            <div>
                <label for="Customer-Name">Stad</label>
                <input id="Customer-Name" name="Customer-Name" type="text" value="@Model.Customer.City" readonly>
            </div>
            <div>
                <label for="Customer-Name">Postcode</label>
                <input id="Customer-Name" name="Customer-Name" type="text" value="@Model.Customer.PostalCode" readonly>
            </div>
            <div>
                <label for="Customer-Name">Land</label>
                <input id="Customer-Name" name="Customer-Name" type="text" value="@Model.Customer.Country" readonly>
            </div>
            <div>
                <label for="Customer-Name">Telefoon/GSM</label>
                <input id="Customer-Name" name="Customer-Name" type="text" value="@Model.Customer.LastName" readonly>
            </div>
        </fieldset>
        <div class="feedback"></div>
    </div>
    <aside class="list">
        <table class="list">
            <thead>
                <tr>
                    <th>
                    </th>
                    <th>
                        Id
                    </th>
                    <th>
                        Voornaam
                    </th>
                    <th>
                        Achternaam
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Adres
                    </th>
                    <th>
                        Stad
                    </th>
                    <th>
                        Postcode
                    </th>
                    <th>
                        Land
                    </th>
                    <th>
                        Telefoon/GSM
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CustomerList)
                {
                    <tr>
                        <td>
                            <a href="@item.Id">-></a> |
                        </td>
                        <td>
                            @item.Id
                        </td>
                        <td>
                            @item.FirstName
                        </td>
                        <td>
                            @item.LastName
                        </td>
                        <td>
                            @item.Email
                        </td>
                        <td>
                            @item.Address
                        </td>
                        <td>
                            @item.City
                        </td>
                        <td>
                            @item.PostalCode
                        </td>
                        <td>
                            @item.Country
                        </td>
                        <td>
                            @item.Phone
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </aside>
</div>