﻿@page
@model BiblioAdmin.Pages.Book.IndexModel
@{
}
<h1>Book Index</h1>
<a asp-page="./InsertingOne" asp-page-handler="Inserting">Inserting One </a>

<table class="list">
    <thead>
        <tr>
            <th>
                
            </th>
            <th>
                ID
            </th>
            <th>
                Author
            </th>
            <th>
                Title
            </th>
            <th>
                Subtitle
            </th>
            <th>
                PublicationDate
            </th>
            <th>
                Publisher
            </th>
            <th>
                Category
            </th>
            <th>
                Size
            </th>
            <th>
                NumberOfPages
            </th>
            <th>
                Price
            </th>
            <th>
                Language
            </th>
            <th>
                ProductCode
            </th>
            <th>
                ProductType
            </th>
            <th>
                ProductTypeFull
            </th>
            <th>
                Description
            </th>
            <th>
                ImageUrl
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BookList)
        {
        <tr>
            <td>
                <a href="Book/ReadingOne/@item.Id">Select</a> |
            </td>
            <td>
                @item.Id
            </td>
            <td>
                @item.Author
            </td>
            <td>
                @item.Title
            </td>
            <td>
                @item.Subtitle
            </td>
            <td>
                @item.PublicationDate
            </td>
            <td>
                @item.Publisher
            </td>
            <td>
                @item.Category
            </td>
            <td>
                @item.Size
            </td>
            <td>
                @item.NumberOfPages
            </td>
            <td>
                @item.Price<p>€</p>
            </td>
            <td>
                @item.Language
            </td>
            <td>
                @item.ProductCode
            </td>
            <td>
                @item.ProductType
            </td>
            <td>
                @item.ProductTypeFull
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @item.ImageUrl
            </td>
        </tr>
        }
    </tbody>
</table>