﻿@page  "{id}"
@model BiblioAdmin.Pages.Book.ReadingOneModel
@{
}
<h1>Book ReadingOne</h1>
<nav class="control-panel">
    <a href="/Index">
        <span>Hier komt het logo</span>
    </a>
    <h1 class="banner">Biblio Admin</h1>
</nav>
<div class="show-room entity">
    <div class="detail">
        <div class="command-panel">
            <h2>Book</h2>
            <a href="/Book/UpdatingOne/@Model.Book.Id" class="tile">
                <span class="icon-pencil"></span>
                <span class="screen-reader-text">Updating One</span>
            </a>
            <a href="/Book/InsertingOne" class="tile">
                <span class="icon-plus"></span>
                <span class="screen-reader-text">Inserting One</span>
            </a>
            <a asp-page="./ReadingOne" onclick="return confirm('Weet je zeker dat je dit boek wilt deleten?');"
               asp-page-handler="Delete" asp-route-id="@Model.Book.Id">Delete</a>

            <a href="/Book/Cancel" class="tile">
                <span class="icon-close"></span>
                <span class="screen-reader-text">Annuleren</span>
            </a>
        </div>
        <fieldset>
            <div>
                <label for="Book-Name">Id</label>
                <input id="Book-Name" name="Book-Name" type="text" value="@Model.Book.Id" readonly>
            </div>
            <div>
                <label for="Book-Name">Titel</label>
                <input id="Book-Name" name="Book-Name" type="text" value="@Model.Book.Title" readonly>
            </div>
            <div>
                <label for="Book-Name">Auteur</label>
                <input id="Book-Name" name="Book-Name" type="text" value="@Model.Book.Author" readonly>
            </div>
            <div>
                <label for="Book-Name">Ondertitel</label>
                <input id="Book-Name" name="Book-Name" type="text" value="@Model.Book.Subtitle" readonly>
            </div>
            <div>
                <label for="Book-Name">Productcode</label>
                <input id="Book-Name" name="Book-Name" type="text" value="@Model.Book.ProductCode" readonly>
            </div>
            <div>
                <label for="Book-Name">Producttype</label>
                <input id="Book-Name" name="Book-Name" type="text" value="@Model.Book.ProductType" readonly>
            </div>
            <div>
                <label for="Book-Name">Producttype volledig</label>
                <input id="Book-Name" name="Book-Name" type="text" value="@Model.Book.ProductTypeFull" readonly>
            </div>
            <div>
                <label for="Book-Name">Uitgever</label>
                <input id="Book-Name" name="Book-Name" type="text" value="@Model.Book.Publisher" readonly>
            </div>
            <div>
                <label for="Book-Name">Verschijningsjaar</label>
                <input id="Book-Name" name="Book-Name" type="text" value="@Model.Book.PublicationDate" readonly>
            </div>
            <div>
                <label for="Book-Name">Categorie</label>
                <input id="Book-Name" name="Book-Name" type="text" value="@Model.Book.Category" readonly>
            </div>
            <div>
                <label for="Book-Name">Aantal pagina's</label>
                <input id="Book-Name" name="Book-Name" type="text" value="@Model.Book.NumberOfPages" readonly>
            </div>
            <div>
                <label for="Book-Name">Taal</label>
                <input id="Book-Name" name="Book-Name" type="text" value="@Model.Book.Language" readonly>
            </div>
            <div>
                <label for="Book-Name">Afmetingen</label>
                <input id="Book-Name" name="Book-Name" type="text" value="@Model.Book.Size" readonly>
            </div>
            <div>
                <label for="Book-Name">Kostprijs</label>
                <input id="Book-Name" name="Book-Name" type="text" value="@Model.Book.Price" readonly>
            </div>
            <div>
                <label for="Book-Name">Afbeelding</label>
                <input id="Book-Name" name="Book-Name" type="url" value="@Model.Book.ImageUrl" readonly>
            </div>
            <div>
                <label for="Book-Name">Beschrijving</label>
                <textarea id="Book-Name" name="Book-Name" type="text" readonly>@Model.Book.Description</textarea>
            </div>
        </fieldset>
        <div class="feedback"></div>
    </div>
    <aside class="list">
        <table class="list">
            <thead>
                <tr>
                    <th>
                    </th>
                    <th>
                        Id
                    </th>
                    <th>
                        Titel
                    </th>
                    <th>
                        Auteur
                    </th>
                    <th>
                        Ondertitel
                    </th>
                    <th>
                        Productcode
                    </th>
                    <th>
                        Producttype
                    </th>
                    <th>
                        Producttype volledig
                    </th>
                    <th>
                        Uitgever
                    </th>
                    <th>
                        Verschijningsjaar
                    </th>
                    <th>
                        Categorie
                    </th>
                    <th>
                        Aantal pagina's
                    </th>
                    <th>
                        Taal
                    </th>
                    <th>
                        Afmetingen
                    </th>
                    <th>
                        Kostprijs
                    </th>
                    <th>
                        Afbeelding
                    </th>
                    <th>
                        Beschrijving
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.BookList)
                {
                <tr>
                    <td>
                        <a href="@item.Id">-></a> |
                    </td>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        @item.Author
                    </td>
                    <td>
                        @item.Subtitle
                    </td>
                    <td>
                        @item.ProductCode
                    </td>
                    <td>
                        @item.ProductType
                    </td>
                    <td>
                        @item.ProductTypeFull
                    </td>
                    <td>
                        @item.Publisher
                    </td>
                    <td>
                        @item.PublicationDate
                    </td>
                    <td>
                        @item.Category
                    </td>
                    <td>
                        @item.NumberOfPages
                    </td>
                    <td>
                        @item.Language
                    </td>
                    <td>
                        @item.Size
                    </td>
                    <td>
                        @item.Price
                    </td>
                    <td>
                        @item.ImageUrl
                    </td>
                    <td>
                        @item.Description
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </aside>
</div>