﻿@page "{id}"
@model BiblioAdmin.Pages.Book.UpdatingOneModel
@{
}
<h3>UpdatingOne Book</h3>
<hr />
<br />
<form method="post">
    <fieldset>
        <div>
            <label asp-for="Book.Id"></label>
            <input asp-for="Book.Id" readonly/>
        </div>
        <div>
            <label asp-for="Book.Title">Titel</label>
            <input asp-for="Book.Title" />
            <span class="alert-danger" asp-validation-for="Book.Title">De titel is verplicht!</span>
        </div>
        <div>
            <label asp-for="Book.Author">Auteur</label>
            <input asp-for="Book.Author" />
            <span class="alert-danger" asp-validation-for="Book.Author">De auteur is verplicht!</span>
        </div>
        <div>
            <label asp-for="Book.Subtitle">Ondertitel</label>
            <input asp-for="Book.Subtitle">
        </div>
        <div>
            <label asp-for="Book.ProductCode">Productcode</label>
            <input asp-for="Book.ProductCode">
        </div>
        <div>
            <label asp-for="Book.ProductType">Producttype</label>
            <input asp-for="Book.ProductType">
        </div>
        <div>
            <label asp-for="Book.ProductTypeFull">Producttype volledig</label>
            <input asp-for="Book.ProductTypeFull">
        </div>
        <div>
            <label asp-for="Book.Publisher">Uitgever</label>
            <input asp-for="Book.Publisher">
        </div>
        <div>
            <label asp-for="Book.PublicationDate">Verschijningsjaar</label>
            <input asp-for="Book.PublicationDate">
        </div>
        <div>
            <label asp-for="Book.Category">Categorie</label>
            <input asp-for="Book.Category">
        </div>
        <div>
            <label asp-for="Book.NumberOfPages">Aantal pagina's</label>
            <input asp-for="Book.NumberOfPages">
        </div>
        <div>
            <label asp-for="Book.Language">Taal</label>
            <input asp-for="Book.Language">
        </div>
        <div>
            <label asp-for="Book.Size">Afmetingen</label>
            <input asp-for="Book.Size">
        </div>
        <div>
            <label asp-for="Book.Price">Prijs</label>
            <input asp-for="Book.Price">
        </div>
        <div>
            <label asp-for="Book.ImageUrl">Afbeelding link</label>
            <input asp-for="Book.ImageUrl">
        </div>
        <div>
            <label asp-for="Book.Description">Beschrijving</label>
            <textarea asp-for="Book.Description"></textarea>
        </div>
    </fieldset>
    <div>
        <button type="submit" value="Update" asp-page-handler="Update">Update</button>
    </div>
</form>