﻿@model List<Bll.OrderItem>
@{
}

<table class="list">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                BookId
            </th>
            <th>
                OrderId
            </th>
            <th>
                Quantity
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="OrderItem/ReadingOne/@item.Id">Select</a> |
                </td>
                <td>
                    @item.BookId
                </td>
                <td>
                    @item.OrderId
                </td>
                <td>
                    @item.Quantity
                </td>
            </tr>
        }
    </tbody>
</table>