﻿@page
@model BiblioAdmin.Pages.Order.IndexModel
@{
}

<h1>OrderStatus Index</h1>

<a href="/OrderStatus/InsertingOne" class="tile">
    <span class="icon-plus"></span>
    <span class="screen-reader-text">Inserting One</span>
</a>

<a asp-page="./InsertingOne" asp-page-handler="Inserting">Inserting One </a>

<partial name="Order/_ReadingAll" />