﻿@page 
@model BiblioAdmin.Pages.OrderStatus.DetailsModel
@{
}

<h1>OrderStatus ReadingOne</h1>
<nav class="control-panel">
    <a href="/Index">
        <span>Hier komt het logo</span>
    </a>
    <h1 class="banner">Biblio Admin</h1>
</nav>
<div class="show-room entity">
    <div class="detail">
        <div class="command-panel">
            <h2>Role</h2>
            <a href="/Role/UpdatingOne/@Model.OrderStatus.Id" class="tile">
                <span class="icon-pencil"></span>
                <span class="screen-reader-text">Updating One</span>
            </a>
            <a href="/Role/InsertingOne" class="tile">
                <span class="icon-plus"></span>
                <span class="screen-reader-text">Inserting One</span>
            </a>
            <a href="/Role/DeleteOne/@Model.OrderStatus.Id" class="tile">
                <span class="icon-remove"></span>
                <span class="screen-reader-text">Delete One</span>
            </a>
            <a href="/Role/Cancel" class="tile">
                <span class="icon-close"></span>
                <span class="screen-reader-text">Annuleren</span>
            </a>
        </div>
        <fieldset>
            <div>
                <label for="Role-Name">Id</label>
                <input id="Role-Name" name="Role-Name" type="text" value="@Model.OrderStatus.Id" readonly>
            </div>
            <div>
                <label for="Role-Name">Naam</label>
                <input id="Role-Name" name="Role-Name" type="text" value="@Model.OrderStatus.Name" readonly>
            </div>
            <div>
                <label for="Role-Name">Beschrijving</label>
                <input id="Role-Name" name="Role-Name" type="text" value="@Model.OrderStatus.Description" readonly>
            </div>
        </fieldset>
        <div class="feedback"></div>
    </div>
    <aside class="list">
        <table></table>
    </aside>
</div>
