﻿@page
@model BiblioAdmin.Pages.OrderStatus.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
}

<h1>Order Status</h1>

<table class="list">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Naam
            </th>
            <th>
                Beschrijving
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderStatusList)
{
    <tr>
        <td>
            <a href="OrderStatus/ReadingOne/@item.Id">Edit</a> |
        </td>
        <td>
            @item.Id
        </td>
        <td>
            @item.Name
        </td>
        <td>
            @item.Description
        </td>
    </tr>
}
    </tbody>
</table>