﻿@page
@model BiblioAdmin.Pages.Biblio.DetailsModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>OrderStatus</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderStatus.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderStatus.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderStatus.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderStatus.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.OrderStatus.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
</body>
</html>
