﻿@page
@model BiblioAdmin.Pages.OderItem.IndexModel
@{
}
<h1>OrderItem Index</h1>
<a asp-page="./InsertingOne" asp-page-handler="Inserting">Inserting One </a>

<partial name="OrderItem/_ReadingAll" model="Model.OrderItemList" />