﻿@page
@model BiblioAdmin.Pages.OrderItem.InsertingOneModel
@{
}

<h3>InsertingOne OrderItem</h3>
<hr />
<br />
<form method="post">
    <fieldset>
        <div>
            <label asp-for="OrderItem.BookId"></label>
            <input asp-for="OrderItem.BookId"  />
        </div>
        <div>
            <label asp-for="OrderItem.OrderId"></label>
            <input asp-for="OrderItem.OrderId"  />
        </div>
        <div>
            <label asp-for="OrderItem.Quantity"></label>
            <input asp-for="OrderItem.Quantity"  />
        </div>
    </fieldset>
    <div>
        <button type="submit" value="Insert" asp-page-handler="Insert">Insert</button>
    </div>
</form>