﻿@page "{id}"
@model BiblioAdmin.Pages.OrderItem.ReadingOneModel
@{
}
<h1>OrderItem ReadingOne</h1>
<nav class="control-panel">
    <a href="/Index">
        <span>Hier komt het logo</span>
    </a>
    <h1 class="banner">Biblio Admin</h1>
</nav>
<div class="show-room entity">
    <div class="detail">
        <div class="command-panel">
            <h2>Order Item</h2>
            <a href="/OrderItem/UpdatingOne/@Model.OrderItem.Id" class="tile">
                <span class="icon-pencil"></span>
                <span class="screen-reader-text">Updating One</span>
            </a>
            <a href="/OrderItem/InsertingOne" class="tile">
                <span class="icon-plus"></span>
                <span class="screen-reader-text">Inserting One</span>
            </a>
            <a asp-page="./ReadingOne" onclick="return confirm('Weet je zeker dat je deze Orderitem wilt deleten?');"
               asp-page-handler="Delete" asp-route-id="@Model.OrderItem.Id">Delete</a>

            <a href="/OrderItem/Cancel" class="tile">
                <span class="icon-close"></span>
                <span class="screen-reader-text">Annuleren</span>
            </a>
        </div>
        <fieldset>
            <div>
                <label for="OrderItem-Name">Id</label>
                <input id="OrderItem-Name" name="OrderItem-Name" type="text" value="@Model.OrderItem.Id" readonly>
            </div>
            <div>
                <label for="OrderItem-Name">Boek</label>
                <input id="OrderItem-Name" name="OrderItem-Name" type="text" value="@Model.OrderItem.BookId" readonly>
            </div>
            <div>
                <label for="OrderItem-Name">Bestelling</label>
                <input id="OrderItem-Name" name="OrderItem-Name" type="text" value="@Model.OrderItem.OrderId" readonly>
            </div>
            <div>
                <label for="OrderItem-Name">Hoeveelheid</label>
                <input id="OrderItem-Name" name="OrderItem-Name" type="text" value="@Model.OrderItem.Quantity" readonly>
            </div>
        </fieldset>
        <div class="feedback"></div>
    </div>
    <aside class="list">
        <table class="list">
            <thead>
                <tr>
                    <th>
                    </th>
                    <th>
                        Id
                    </th>
                    <th>
                        Boek
                    </th>
                    <th>
                        Bestelling
                    </th>
                    <th>
                        Hoeveelheid
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderItemList)
                {
                <tr>
                    <td>
                        <a href="@item.Id">-></a> |
                    </td>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.BookId
                    </td>
                    <td>
                        @item.OrderId
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </aside>

</div>