﻿@page "{id}"
@model BiblioAdmin.Pages.OrderItem.UpdatingOneModel
@{
}
<h3>UpdatingOne OrderItem</h3>
<hr />
<br />
<form method="post">
    <fieldset>
        <div>
            <label asp-for="OrderItem.Id"></label>
            <input asp-for="OrderItem.Id" readonly />
        </div>
        <div>
            <label asp-for="OrderItem.BookId"></label>
            <input asp-for="OrderItem.BookId"  />
        </div>
        <div>
            <label asp-for="OrderItem.OrderId"></label>
            <input asp-for="OrderItem.OrderId"  />
        </div>
        <div>
            <label asp-for="OrderItem.Quantity"></label>
            <input asp-for="OrderItem.Quantity"  />
        </div>
    </fieldset>
    <div>
        <button type="submit" value="Update" asp-page-handler="Update">Update</button>
    </div>
</form>