﻿@page
@model BiblioAdmin.Pages.Order.IndexModel
@{
}
<h1>Order Index</h1>
<a asp-page="./InsertingOne" asp-page-handler="Inserting">Inserting One </a>

<partial name="Order/_ReadingAll" model="Model.OrderList"/>

