﻿@page
@model BiblioAdmin.Pages.Order.InsertingOneModel
@{
}

<h3>InsertingOne Order</h3>
<hr />
<br />
<form method="post">
    <fieldset>
        <div>
            <label asp-for="Order.OrderDate"></label>
            <input asp-for="Order.OrderDate" />
        </div>
        <div>
            <label asp-for="Order.ShippingDate"></label>
            <input asp-for="Order.ShippingDate" />
        </div>
        <div>
            <label asp-for="Order.Comment"></label>
            <textarea asp-for="Order.Comment"></textarea>
        </div>
        <div>
            <label asp-for="Order.CustomerId"></label>
            <select id="Order_CustomerId" name="Order.CustomerId">
                @foreach (var item in Model.CustomerList)
                {
                    <option value="@item.Id">@item.FirstName @item.LastName</option>
                }
            </select>
        </div>
        <div>
            <label asp-for="Order.ShippingMethodId"></label>
             <select id="Order_ShippingMethodId" name="Order.ShippingMethodId">
                @foreach (var item in Model.ShippingMethodList)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
        <div>
            <label asp-for="Order.StatusId"></label>
            <select id="Order_StatusId" name="Order.StatusId">
                @foreach (var item in Model.OrderStatusList)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
    </fieldset>
    <div>
        <button type="submit" value="Insert" asp-page-handler="Insert">Insert</button>
    </div>
</form>
<partial name="Order/_ReadingAll" model="Model.OrderList" />