﻿@page "{id}"
@model BiblioAdmin.Pages.Order.ReadingOneModel
@{
}


<h1>Order ReadingOne</h1>
<nav class="control-panel">
    <a href="/Index">
        <span>Hier komt het logo</span>
    </a>
    <h1 class="banner">Biblio Admin</h1>
</nav>
<div class="show-room entity">
    <div class="detail">
        <div class="command-panel">
            <h2>Order</h2>
            <a href="/Order/UpdatingOne/@Model.Order.Id" class="tile">
                <span class="icon-pencil"></span>
                <span class="screen-reader-text">Updating One</span>
            </a>
            <a href="/Order/InsertingOne" class="tile">
                <span class="icon-plus"></span>
                <span class="screen-reader-text">Inserting One</span>
            </a>
            <a asp-page="./ReadingOne" onclick="return confirm('Weet je zeker dat je dit Order wilt deleten?');"
               asp-page-handler="Delete" asp-route-id="@Model.Order.Id">Delete</a>
            <a href="/Order/Cancel" class="tile">
                <span class="icon-close"></span>
                <span class="screen-reader-text">Annuleren</span>
            </a>
        </div>
        <fieldset>
            <div>
                <label for="Order-Name">Id</label>
                <input id="Order-Name" name="Order-Name" type="text" value="@Model.Order.Id" readonly>
            </div>
            <div>
                <label for="Order-Name">Besteldatum</label>
                <input id="Order-Name" name="Order-Name" type="text" value="@Model.Order.OrderDate" readonly>
            </div>
            <div>
                <label for="Order-Name">Verzenddatum</label>
                <input id="Order-Name" name="Order-Name" type="text" value="@Model.Order.ShippingDate" readonly>
            </div>
            <div>
                <label for="Order-Name">Opmerking</label>
                <textarea id="Order-Name" name="Order-Name" type="text" readonly>@Model.Order.Comment</textarea>
            </div>
            <div>
                <label for="Order-Name">Klant</label>
                <input id="Order-Name" name="Order-Name" type="text"
                       value="@Model.Order.Customer.FirstName @Model.Order.Customer.LastName" readonly>
            </div>
            <div>
                <label for="Order-Name">Verzendingsmethode</label>
                <input id="Order-Name" name="Order-Name" type="text"
                       value="@Model.Order.ShippingMethod.Name" readonly>
            </div>
            <div>
                <label for="Order-Name">Status</label>
                <input id="Order-Name" name="Order-Name" type="text"
                       value="@Model.Order.Status.Name" readonly>
            </div>
        </fieldset>
        <div class="feedback"></div>
    </div>
    <partial name="Order/_ReadingAll" model="Model.OrderList" />

    <form method="post">
        <h2>Order Items</h2>
        <table class="list">
            <thead>
                <tr>
                    <th>

                    </th>
                    <th>
                        BookId
                    </th>
                    <th>
                        OrderId
                    </th>
                    <th>
                        Quantity
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderItemList)
                {
                    <tr>
                        <td>
                            <button type="submit" name="OrderItem.Id" value="@item.Id" asp-page-handler="DeleteOrderItem">Delete</button>
                        </td>
                        <td>
                            @item.BookId
                        </td>
                        <td>
                            @item.OrderId
                        </td>
                        <td>
                            @item.Quantity
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <h3>InsertingOne OrderItem</h3>
        <hr />
        <br />
        <fieldset>
            <input type="hidden" value="@Model.Order.Id" id="" name="OrderItem.OrderId" />
            <div>
                <label asp-for="OrderItem.BookId"></label>
                <input asp-for="OrderItem.BookId" />
            </div>

            <div>
                <label asp-for="OrderItem.Quantity"></label>
                <input asp-for="OrderItem.Quantity" />
            </div>
        </fieldset>
        <div>
            <button type="submit" value="Insert" asp-page-handler="InsertOrderItem">Insert Order Item</button>
        </div>
    </form>
</div>