﻿@page "{id}"
@model BiblioAdmin.Pages.Order.UpdatingOneModel
@{
}
<h3>UpdatingOne Order</h3>
<hr />
<br />
<form method="post">
    <fieldset>
        <div>
            <label asp-for="Order.Id"></label>
            <input asp-for="Order.Id" readonly />
        </div>
        <div>
            <label asp-for="Order.OrderDate"></label>
            <input asp-for="Order.OrderDate" />
        </div>
        <div>
            <label asp-for="Order.ShippingDate"></label>
            <input asp-for="Order.ShippingDate" />
        </div>
        <div>
            <label asp-for="Order.Comment"></label>
            <textarea asp-for="Order.Comment"></textarea>
        </div>
        <div>
            <label asp-for="Order.CustomerId"></label>
            <select id="Order-CustomerId" name="Order.CustomerId">
                @foreach (var item in Model.CustomerList)
                {
                    <option value="@item.Id"
                            selected="@(item.Id == Model.Order.CustomerId ? true : false)">
                        @item.FirstName @item.LastName
                    </option>
                }
            </select>
        </div>
        <div>
            <label asp-for="Order.ShippingMethodId"></label>
             <select id="Order-ShippingMethodId" name="Order.ShippingMethodId">
                @foreach (var item in Model.ShippingMethodList)
                {
                    <option value="@item.Id"
                            selected="@(item.Id == Model.Order.ShippingMethodId ? true : false)">
                        @item.Name
                    </option>
                }
            </select>
        </div>
        <div>
            <label asp-for="Order.StatusId"></label>
            <select id="Order-StatusId" name="Order.StatusId">
                @foreach (var item in Model.OrderStatusList)
                {
                    <option value="@item.Id"
                            selected="@(item.Id == Model.Order.StatusId ? true : false)">
                        @item.Name
                    </option>
                }
            </select>
        </div>
    </fieldset>
    <div>
        <button type="submit" value="Update" asp-page-handler="Update">Update</button>
    </div>
</form>
<partial name="Order/_ReadingAll" model="Model.OrderList" />