﻿@model List<Bll.Order>
@{
}

<aside class="list">
    <table class="list">
        <thead>
            <tr>
                <th>
                </th>
                <th>
                    Id
                </th>
                <th>
                    Besteldatum
                </th>
                <th>
                    Verzenddatum
                </th>
                <th>
                    Opmerking
                </th>
                <th>
                    Klant
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="Order/ReadingOne/@item.Id">Select</a> |
                    </td>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.OrderDate
                    </td>
                    <td>
                        @item.ShippingDate
                    </td>
                    <td>
                        @item.Comment
                    </td>
                    <td>
                        @item.CustomerName
                    </td>

                </tr>
            }
        </tbody>
    </table>
</aside>